* {
   box-sizing: border-box;
 }

 body {
   margin: 0;
   font-size: 0;
   padding: 0;
   
 }
                       /**********WHY THIS IS AWESOME************/
 header {
   text-align: center;
   margin: 0 auto;

 }

 h2 {
   font-family: 'Raleway', sans-serif, Arial, Helvetica, sans-serif;
   margin: 105px 0 30px 0;
   font-size: 32px;
 }

 hr {
   width: 65px;
   height: 2px;
   background-color: #ff8c2c;
   border: 0px;
   margin-bottom: 30px;
 }

 p{
   font-family: 'Open Sans', sans-serif, Arial, Helvetica, sans-serif;
   color: #86878b;
   font-size: 16px;
 }

 main {
   margin-top: 80px;
   text-align: center;
}

 .section {
   width: 357px;
   display: inline-block;
   text-align: center;
   margin-left: 15px;
   margin-right: 15px;
 }

 h3 {
   font-family: 'Open Sans', sans-serif;
    font-size: 18.72px;
    font-weight: 600;
    color: #333333;
 }

 .border__light {
   width: 70px;
   height: 70px;
   margin: 0 auto;
   border-radius: 35px;
   border: 3px solid #ff8c2c;
   background: url(../img/light-bulb.png) center center no-repeat;
 }
 .border__keyboard {
   width: 70px;
   height: 70px;
   margin: 0 auto;
   border-radius: 35px;
   border: 3px solid #ff8c2c;
   background: url(../img/keyboard.png) center center no-repeat;
 }
 .border__lightning {
   width: 70px;
   height: 70px;
   margin: 0 auto;
   border-radius: 35px;
   border: 3px solid #ff8c2c;
   background: url(../img/lightning.png) center center no-repeat;
 }
                                /**********STYLISH*********/
 .stylish {
   background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../img/city.png) center center repeat;
   margin: 0 auto;
   height: 289px;
   position: relative;
    
 }

 .stylish__header {
   position: relative;
   top: 62px;
 }

 .stylish__title {
   font-family: 'Raleway', sans-serif, Arial, Helvetica, sans-serif;
   margin: 89px 0 30px 0;
   font-weight: 500;
   color: #ffffff;
 }

 .stylish__line {
   width: 65px;
   height: 2px;
   background-color: #ffffff;
   border: 0px;
   margin-bottom: 30px;
 }

 button {
   position: relative;
   z-index: 1;
   background: transparent;
   color: #ffffff;
   border: 2px solid #ffffff;
   text-decoration: none;
   padding: 10px 30px 10px 30px;
   border-radius: 0;
   transition: 0.4s;
   outline: none;
   font-size: 14px;
   margin-top: 11px;
}

button:hover {
   background: #ffffff;
   color: #000000;
   border-radius:20px ;
   border: 1px solid #000000;
}

button:active {
  background: #f8923f;
  border: 5px solid #000000;
  transition: 0.01s;
}
                                  /***********FOOTER***********/    
footer {
  height: 100px;
  background: #000000;
  position: relative;
  margin: 0 auto;
}

.footer__main {
  position: relative;
  top: 35px;
  text-align: center;
}

ul {
  width: 100%;
}

li {
  display: inline-block;
  margin: 0 11px;
}

.footer__text {
  margin: 0;
  padding: 11px;
  text-align: center;

}
